body {
    background-color: #ffffff;
    padding-top: 0%;
    color: black;
    width:100%;
}

.menu {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.menu li {
    display: inline-block;
    list-style: outside none none;
    margin: 1em 1.5em;
    padding: 0;
    
}

.menu a {
    padding: .5em 0;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: bold;
}

.menu a:before,
.menu a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.menu a:before {
    top: 0;
    display: block;
    height: 3px;
    width: 0%;
    content: "";
    background-color: #196123;
}

.menu a:after {
    left: 0;
    top: 0;
    padding: 0.5em 0;
    position: absolute;
    content: attr(data-hover);
    color: #000000;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
}

.menu a:hover:before,
.menu .active a:before {
    opacity: 1;
    width: 100%;
}

.menu a:hover:after,
.menu .active a:after {
    max-width: 100%;
}


.left p{
    position: relative;
    left: 50px;
    top: 40px;
}

footer{
    background-color: rgb(227, 240, 240);
    height: 150px;
    bottom: 0%;
    border-radius: 10px;
    padding: 0%;
}





.inbody{
    padding: 50px;
    background-color: beige;
    height: 352px;

}
#logo{
    position: relative;
    top: 70px;
    left: 30px;
}

.support,.devinfo, .left {
    display:block;
    float:left;
    width:33%;
    margin-left: 0px;
    font-weight: 700;
}

footer li a{
    text-decoration: none;
}

ul{
    list-style-type:none
}

table {
    position: relative;
    margin-left: 20%;
    /*border: 1px solid black;*/
    margin-top: 5%;
}

table #editorPic {
    border-right: 1px solid black;
    width: 200px;
    vertical-align: 20px;
    
}

table #editorInfo {
    border-right: 1px solid black;
    width: 35%;
    text-align: left;
}

table #editorTasks {
    width: 40%;
    text-align: left;
}

table img {
    height: 8%;
    width: 69%;
    margin: 14%;
    border-radius: 50%;
}

table li {
    margin: 10%;
}