/* all images in content */
.content .img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    margin-bottom: 60px;
}

/* article title */
.content h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 55px;
}

/* paragraph design */
.para{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin: 5px;
    padding: 10px;
    text-align: justify;
}

/* list style */
.para3 ul{
    list-style: disc;
}

/* image2 settings */
.image2 img{
    width: 350px;
    padding-left: 50px;
    margin-bottom: 50px;
}

/*apply designs to para4 section */
.para4{
    display: flex;
    align-items: center;
}

/* text details design */
.text{
    padding-left: 50px;
    width: 700px;
}

/* image3 settings */
.image3 img{
    width: 400px;
    padding-left: 50px;
    margin-bottom: 60px;
}


/* 
 *   =================== page responsive ========================
 */
@media screen and (max-width: 1180px) {
    .para{
        margin-left: 10px;
        margin-right: 10px;
    }

    .para4{
        display: inline;
        align-items: center;
    }

    .text{
        width: auto;
    }

    .para4 img{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .image2 img, .image3 .img{
        padding-bottom: 50px;
    }
}
